{% extends 'base.html' %}
{% block content %}

<div class="text-center" style="width: 80%; margin: 0 auto">
  <h2>Welcome to the Password Reset Page</h2>
  <h5>
    Forgot your password? Please enter the email address you used to register
    with us and we will send you a link to reset your password
  </h5>
</div>
<br/>

<form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <input type="submit" class="btn-success" value="Send email" /><br>
</form><br/>
<div class="text-center">
  <a href="{% url 'home:home' %}">Return to home page</a>
</div>

{% endblock%}