{%  extends 'base.html' %}

{%  block content %}
    <h3 class="text-center">{{ user.username }}</h3>
    {% if request.user.id == user.id %}
          <a href="{% url 'home:create' %}" class="btn btn-success mb-3">Create</a>
    {% endif %}
    {% if request.user.id != user.id and not is_following%}
         <a href="{% url 'account:user_follow' user.id %}" class="btn btn-primary mb-3">Follow</a>
    {% elif request.user.id != user.id and is_following %}
         <a href="{% url 'account:user_unfollow' user.id %}" class="btn btn-warning mb-3">UnFollow</a>
    {% endif %}
         <div class="card">
            {% for post in posts %}
                <a href="{{ post.get_absoluter_url }}" class="card-body">{{post.body|truncatewords:10}}</a>
            {% endfor %}
        </div>
{%  endblock %}