{% extends "base.html"  %}
{% block title %} {{ user.username }} Profile{% endblock  %}
{% load static %}
{% block js_file %}
<script src="{% static 'account/js/script.js' %}"></script>
{% endblock  %}


{% block content %}
    {% if self_dash  %}
     <a class="btn btn-success btn-sm m-2" href="{% url 'posts:add_post' request.user.id %}">Add Post</a>
     <a class="btn btn-primary btn-sm m-2" href="{% url 'account:edit_profile' request.user.id %}">Edit Profile</a>

    {% endif %}
    <p class="text-center">{{ user.username|capfirst }}<p>
    <br>
    <p class="text-center"> {{ user.profile.bio }} </p>
    {% if request.user.id != user.id and  not is_following %}
     <button id="following_btn" data-id="{{ user.id }}" style="display:block" class="btn btn-primary btn-sm mb-5 mx-auto text-center">follow</button>
      {% elif request.user.id != user.id and  is_following %}
      <button id="following_btn" data-id="{{ user.id }}" style="display:block" class="btn btn-warning btn-sm mb-5 mx-auto text-center">unfollow</button>
    {% endif %}
    {% for post in posts  %}
    <div class="card">
        <p class="card-body"><a href="{{ post.get_absolute_url }}">{{ post.body }}</a></p>
    </div>
    {% empty %}
    <p>This is user no post</p>
    {% endfor %}
{% endblock  %}